@font-face {
  font-family: 'TicTacToe';
  src: url('assets/fonts/TicTacToe.woff');
}

:root {
  --game-width: 500px;
  --game-height: 500px;
  --main-font: 600 16px TicTacToe;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: var(--main-font);
  font-size: 32px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  font: var(--main-font);
  font-size: 16px;
}

/* header */

.header {
  text-align: center;
  padding: 20px;
}

/* main */

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--game-width);
}

.game__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game__main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: var(--game-height);
}

.board {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: relative;
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.cell {
  width: 150px;
  height: 150px;
}

.cell:hover {
  cursor: pointer;
}

.game__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
