@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-Variable.ttf');
}

@font-face {
  font-family: 'Merriweather';
  src: url('assets/fonts/Merriweather-Bold.ttf');
}

:root {
  --font-h1: 700 60px 'Merriweather', serif;
  --font-h2: 700 40px 'Merriweather', serif;
  --font-h3: 700 26px 'Merriweather', serif;
  --font-h4: 700 24px 'Merriweather', serif;
  --font-normal: 400 20px 'Inter', sans-serif;
  --font-subtitle: 400 18px 'Inter', sans-serif;
  --font-title: 600 20px 'Inter', sans-serif;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-gold: #bdae82;
}

body {
  background-color: #000000;
}

button {
  width: 220px;
  height: 55px;
  border: none;
  cursor: pointer;
}

.container {
  width: 1440px;
  /* max-width: 1440px; */
  margin: 0 auto;
}

/* Section title and line */

.section-title {
  position: relative;
  display: inline;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
  font: var(--font-h2);
  color: var(--color-gold);
  background-color: var(--color-black);
}

.section-title-container {
  text-align: center;
  margin-bottom: 60px;
}

.section-title-container::before {
  content: '';
  display: block;
  position: relative;
  top: 25px;
  margin: 0 auto;
  background-color: var(--color-gold);
  width: 700px;
  height: 2px;
}

/* Header */

.header-container {
  background: url('assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  display: flex;
  align-items: center;
  height: 90px;
}

.header-logo {
  padding: 20px 0 20px 20px;
}

.logo {
  background-image: url('assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  display: block;
  width: 50px;
  height: 50px;
}
.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.header-nav {
  margin-left: auto;
}

.header-nav ul {
  padding: 0;
  margin: 0 15px;
  display: flex;
  list-style-type: none;
}

.header-nav li {
  padding: 15px;
}

.header-nav a {
  font: var(--font-normal);
  color: var(--color-white);
  text-decoration: none;
  transition: 0.3s;
}

.header-nav a:hover {
  color: var(--color-gold);
}

.header-language {
  font: var(--font-title);
  color: var(--color-white);
  margin: 0 0 0 2px;
  padding: 20px 20px 20px 0;
  display: flex;
  align-items: center;
  width: 70px;
  height: 50px;
}

.header-language span {
  display: block;
  padding-right: 10px;
}

.language {
  cursor: pointer;
  transition: 0.3s;
}

.language:hover {
  color: var(--color-gold);
}

.language-active {
  color: var(--color-gold);
}

/* Main */

/* Hero */

.hero-container {
  background-image: url('assets/img/bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
  height: 910px;
}

.hero {
  padding: 160px 860px 0 80px;
}

.hero-title {
  margin: 0;
  padding: 22px 0;
  font: var(--font-h1);
  color: var(--color-white);
}

.hero-text {
  font: var(--font-normal);
  color: var(--color-white);
  margin: 0;
  padding-top: 11px;
  padding-right: 20px;
  line-height: 2;
}

.hero-btn {
  margin-top: 25px;
  font: var(--font-normal);
  color: var(--color-black);
  background-color: var(--color-gold);
}

.hero-btn:hover {
  color: var(--color-white);
}

/* Skills */

.skills {
  padding: 24px 20px;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 0px;
  margin-bottom: 75px;
}

.skill-item {
  width: 320px;
  height: 240px;
  background-position: center top;
}

.skill-item:nth-child(1) {
  background-image: url('assets/svg/camera.svg');
  background-repeat: no-repeat;
  background-size: 62px 50px;
}

.skill-item:nth-child(2) {
  background-image: url('assets/svg/video.svg');
  background-repeat: no-repeat;
  background-size: 60px 50px;
}

.skill-item:nth-child(3) {
  background-image: url('assets/svg/image.svg');
  background-repeat: no-repeat;
  background-size: 66px 50px;
}

.skill-item:nth-child(4) {
  background-image: url('assets/svg/mic.svg');
  background-repeat: no-repeat;
  background-size: 32px 50px;
}

.skills-item-title {
  font: var(--font-title);
  color: var(--color-white);
  text-align: center;
  padding: 108px 0 28px;
  letter-spacing: 0.3px;
}

.skills-item-subtitle {
  font: var(--font-subtitle);
  color: var(--color-white);
  text-align: center;
  padding: 0 20px;
  line-height: 2;
}

/* Portfolio */

.portfolio {
  margin-bottom: 100px;
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-top: 15px;
  padding-bottom: 60px;
}

.portfolio-nav-button {
  font: var(--font-normal);
  color: var(--color-gold);
  background-color: var(--color-black);
  border: 1px solid var(--color-gold);
}

.portfolio-nav-button:hover {
  color: var(--color-white);
}

.portfolio-nav-button-active {
  font: var(--font-normal);
  color: var(--color-black);
  background-color: var(--color-gold);
  border: 1px solid var(--color-gold);
}

.portfolio-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

/* Footer */
