@font-face {
  font-family: Play-regular;
  src: url(assets/fonts/Play-Regular.ttf);
}

@font-face {
  font-family: Play-bold;
  src: url(assets/fonts/Play-Bold.ttf);
}

:root {
  --font-normal: 400 32px Play-regular;
  --font-bold: 600 16px Play-bold;
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, #fee1e9, #edd5e1, #aed0db);
  position: relative;
  font: var(--font-normal);
  text-shadow: 1px 0px 5px #e0e0e0;
}

input[type='range'] {
  height: 18px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: none;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #ededed;
  background: #adadad;
  border-radius: 5px;
  border: 1px solid #ededed;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #e0e0e0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #adadad;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #ededed;
  background: #adadad;
  border-radius: 5px;
  border: 1px solid #ededed;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #e0e0e0;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #adadad;
  border: 1px solid #ededed;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #ededed;
}
input[type='range']::-ms-fill-upper {
  background: #adadad;
  border: 1px solid #ededed;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #ededed;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #e0e0e0;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #adadad;
}
input[type='range']:focus::-ms-fill-upper {
  background: #adadad;
}

.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: fit-content;
  border-radius: 20px;
  background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
  box-shadow: 1px 0px 5px #313131;
  max-width: 620px;
}

.header {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #9dc5c3;
  background-image: linear-gradient(315deg, #5e5c5c 0%, #9dc5c3 74%);
}

.main__img {
  background-image: url(assets/playlist/default.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 204px;
  height: 204px;
}

.main__controls {
  box-sizing: border-box;
  width: calc(100% - 204px);
  padding: 8px;
}

.main__controls__time-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 16px;
}

.main__controls__time__time-line {
  width: 100%;
}

.main__controls__time-block__current-time,
.main__controls__time-block__end-time {
  margin: 0 5px;
}

.main__controls__time-block__time-line {
  width: 100%;
}

.time-line {
  width: 100%;
}

.main__controls__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 64px;
}

.btn {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-size: 64px;
  color: #e0e0e0;
}

.btn:hover {
  color: #5e5c5c;
  text-shadow: none;
  transition: 0.3s;
  cursor: pointer;
}

.btn:active {
  color: #5e5c5c;
  text-shadow: none;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(0.8);
}

.main__controls__volume {
  display: flex;
  align-items: center;
}

.volume-btn {
  font-size: 16px;
}
.volume-btn {
  width: auto;
  margin: 0 5px;
}

.footer {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  padding: 5px;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.link:hover {
  color: #494949;
  transition: 0.5s;
}

@media (max-width: 920px) {
  .main {
    flex-direction: column;
  }
  .main__controls {
    width: 100%;
  }
}

@media (max-width: 490px) {
  .main__controls__time-block {
    justify-content: center;
    flex-wrap: wrap;
  }
  .btn:not(.volume-btn) {
    font-size: 48px;
  }
}

@media (max-width: 400px) {
  .btn:not(.volume-btn) {
    font-size: 40px;
  }
}

@media (max-width: 350px) {
  .btn:not(.volume-btn) {
    font-size: 32px;
  }
}
